<% content_for :title, "Gráficos dos lançamentos de #{Date.today.year}" %>

<div class="block">
  <%= render :partial => "navigation" %>
  <div class="content">          
      <br/>
      <br/>
      <h4 style="text-align: center">Funcionalidade não disponível no momento</h4>
      <br/>
      <br/>
    </p>
  </div>
</div>
