* {margin:0;padding:0}
.clear { clear: both; height: 10px; }

.wat-cf:after {
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.wat-cf {display: inline-block;}

/* Hides from IE-mac \*/
* html .wat-cf {height: 1%;}
.wat-cf {display: block;}
/* End hide from IE-mac */

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }

body {
  color: #222;
  background: #cfcfcf;
  font-size: 12px;
  font-family: helvetica, arial, sans-serif;
}

hr {
  background: #f0f0ee;
  color: #f0f0ee;
}

#container {
  min-width: 1024px;
}

#header {
  position: relative;
  padding: 0px;
  background: #36393d;
}

#header h1 {
  margin: 0;
  padding: 15px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
  float: left;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: #FFF;
  text-decoration: none;
}

#header #divisor {
  height: 15px;
  margin: 0px 20px;
  background-color: #1a1a1a;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

#main {
}

#inner {
  padding-top: 20px;
  width: 900px;
  margin: auto;
}

.block {
  background: #FFF;
  padding: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.block h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.2em;
}

#user-navigation {
  position: relative;
  top: 18px;
  float: right;
}

#user-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#user-navigation ul li {
  float: left;
  padding: 5px 10px;
}

#user-navigation ul li a {
  color: #fff;
  font-size: 14pt;
  text-decoration: none;
}

#user-navigation ul li a:hover {
  color: #bbb;
}


#footer {
  padding-bottom: 20px;
}

a {
  outline: none;
}

a.button {
  background: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 5px 10px;
  cursor: pointer;
  color: #36393d;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  outline: none;
}

a.button:hover {
  border: 1px solid #666;
}

*:first-child+html button.button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

#footer a {
  color: #fff;
}

#footer p {
  text-align: center;
}

#footer .block {
  color: #FFF;
  background: #1a1a1a;
}

#footer .block p {
  margin: 0;
  padding: 10px;
}

#tour {
  width: 900px;
  position: relative;
  margin: auto;
}

#tour ol {
  padding-left: 40px;
  font-size: 12pt;
  font-weight: bold;
}

#tour ol li {
  padding-bottom: 5px;
}
#tour ol li.hover, #tour ol li:hover {
  color: #c00;
}

.feature {
  top: 0px;
  left: 0px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  position: absolute;
  border: 3px #fff solid;
  background: #900;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  width: 32px;
  height: 32px;
  text-align: center;
}
.feature:hover {
  filter:alpha(opacity=25);
  opacity: 0.25;
}

#feature-1 {
  top: 48px;
  left: 90px;
}

#feature-2 {
  top: 92px;
  left: -10px;
}

#feature-3 {
  top: 175px;
  left: -10px;
}

#feature-4 {
  top: 312px;
  left: -10px;
}

#feature-5 {
  top: 382px;
  left: -10px;
}

#feature-6 {
  top: 418px;
  left: 120px;
}

#feature-7 {
  top: 115px;
  left: 240px;
}

#feature-8 {
  top: 95px;
  left: 510px;
}

#feature-9 {
  top: 120px;
  left: 870px;
}

#feature-10 {
  top: 265px;
  left: 870px;
}

.columns {
  margin-bottom: 25px;
}

.columns .column {
  width: 48%;
}

.columns .left {
  float: left;
}

.columns .right {
  float: right;
}

#problems-panel ul li {
  padding-right: 10px;
  padding-bottom: 10px;
  list-style: none;
  text-align: right;
  font-size: 14pt;
  font-weight: bold;
  color: #500;
}

#features-panel ul li {
  background: url('../images/check.gif') no-repeat left;
  padding-left: 25px;
  padding-bottom: 10px;
  list-style: none;
  font-size: 14pt;
  font-weight: bold;
}

#signup-panel {
  display: block;
}

#signup-panel h1 {
  font-weight: bold;
  margin-top: 35px;
  text-align: center;
}

#signup-panel a.button {
  border: 0px;
  background-color: #900;
  color: #fff;
}
#signup-panel a.button:hover {
  background-color: #f00;
}
