.editable-text-field {
  width: 100%;
}
#entries .selectable {
  width: 10px !important;
}
#entries .date, .value {
  width: 80px;
}
#entries .description {
  width: 120px;
}
#entries .tags {
}
#entries .paid, .actions {
  width: 40px;
}

.editable .date {
  width: 60px;
}

.neutral, .positive {
  color: #0B43A8;
}
.negative {
  color: #cc0000;
}
.selected {
  font-weight: bold;
}

input.error {
  border-color: #cc0000;
}

select.error {
  border-color: #cc0000;
}

tr.paid {
  /*color: gray !important;*/
  color: #36393d !important;
}

tr.overdue {
  background-color: #fbb !important;
}

tr.pending {
  background-color: #BBFFB6 !important;
}

th.right, td.right {
  text-align: right;
}

th.center, td.center {
  text-align: center;
}

.table th a {
  color: white;
}
.table tr:hover .actions {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.selected td {
  font-weight: bold !important;
}

select.error {
  border-color: #cc0000;
}

#loading {
  background: #cc0000;
  padding: 1px 4px;
  -moz-border-radius: 4px;
	-webkit-border-radius: 3px;
  z-index: 1000;
  display: none;
  top: 5px;
  right: 5px;
  position: fixed;
}

#loading-message {
  color: #fff;
  font: bold;
  padding-left: 20px;
  background: url(../images/loading.gif) no-repeat left;
}
.form .small {
  font-size: 1.2em !important;
  width: 240px !important;
}

.form .smaller {
  width: 120px !important;
}

.form .description {
  display: block;
}

.flash {
  font-size: 1.2em !important;
}

a.button {
  background: #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #36393d;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

a.button.blank {
  background-color: white;
  color: #36393d !important;
}

a.button:hover {
  border: 1px solid #666;
}

.table a.button {
  background: #36393d;
}

#entries-total {
  background-color: #CFCFCF !important; 
  display: block; 
  padding: 2px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px
}

table tr.even:hover {
  background-color: #D7D7D7;
}

table tr.odd:hover {
  background-color: #F7F7F7;
}
