- content_for :title, "Excluir conta"
.block
  = render (:partial => "users/navigation")
  .content
    .inner
      %br/
      .flash
        = error_messages_for :user, :header_message => false, :message => false, :header_tag => false, :class => "message error"
      - form_tag user_delete_account_path(current_user), :class => "form" do
        .block
          %h4 Por que você quer excluir sua conta?
          = text_area_tag :comments, nil, :cols => "80"
          %br/
          %br/
          = submit_tag "Excluir minha conta definitivamente!", :confirm => "Esta ação é irreversível! Tem certeza que deja descartar todos seus dados e prosseguir com a exclusão da sua conta?", :class => "button"
