- content_for :title, "Exportar dados"
.block
  = render (:partial => "users/navigation")
  .content
    .inner
      %br/
      .flash
        = error_messages_for :user, :header_message => false, :message => false, :header_tag => false, :class => "message error"
      - form_tag user_export_path(current_user), :class => "form" do
        .block
          %h4
            Você pode exportar todos seus lançamentos para o formato
            %a{:href => "http://pt.wikipedia.org/wiki/Comma-separated_values"} CSV
          %br/
          = submit_tag "Exportar meus dados!", :class => "button"
