# Outgoing email settings
production:
  delivery_method: :smtp
  smtp_settings:
    enable_starttls_auto: true
    address: smtp.server.com
    port: 587
    domain: server.com
    authentication: :plain
    user_name: user@server.com
    password: password
