.block
  .secondary-navigation
    %ul
      %li.first= link_to 'Lista', categories_path
      %li.active= link_to 'Nova', new_category_path
    .clear
  .content
    .inner
      %br/
      .flash
        = error_messages_for :category, :header_message => false, :message => false, :header_tag => false, :class => "message error"
      - form_for :category, :url => categories_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
