#footer
  .block
    %p
      ="Copyright &copy; #{ Date.today.year}&nbsp;&nbsp;"
      %a{:href => 'http://1up4dev.org'} 1up4developers
      &nbsp;&nbsp;·&nbsp;&nbsp;
      %a{:href => '/terms_and_conditions_of_use.html'} Termos e Condições de Uso
      &nbsp;&nbsp;·&nbsp;&nbsp;
      %a{:href => '/frequently_asked_questions.html'}Perguntas Frequentes
      &nbsp;&nbsp;·&nbsp;&nbsp;
      %a{:href => 'mailto:mooney@1up4dev.com'}Entre em Contato
      &nbsp;&nbsp;·&nbsp;&nbsp;
      %a.logout{:href => '#' onclick='UserVoice.Popin.show(uservoiceOptions); return false;'}Sugestões
