<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'Lista', accounts_path  %></li>
      <li class="active"><%= link_to 'Nova', new_account_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <br/>
    <div class="inner">
      <div class="flash">
        <%= error_messages_for :account, :header_message => false, :message => false, :header_tag => false, :class => "message error" %>
      </div>
      <% form_for :account, :url => accounts_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
